@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>

<p>A prototype to test the core functionality of the system before proceeding to build the main thing.</p>
<br/>
<p>Created by Niels Schmidt for Rathlouskolen</p>
