@{
    ViewBag.Title = "Demo";
}

<div class="jumbotron">
    <h1>CMRPS Proof Of Concept</h1>
    <p class="lead">A demo for testing the core functionality.</p>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <p>Target machine (IP or Hostname):</p>
        <textarea class="target-input" id="computer-name" placeholder="'lat12' OR '192.168.2.188'"></textarea>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <p>Target machine (MAC):</p>
        <textarea class="target-input" id="computer-mac" placeholder="'00:50:56:00:6D:65' OR '005056006D65'"></textarea>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ping</h2>
        <p>
            Here you can ping a computer.
        </p>
        <p id="ping-result" class="ping-result-style-unknown">Ping: Unknown</p>
        <p>
            <button class="btn btn-info" onclick="DemoPing();">Ping it!</button>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Shutdown</h2>
        <p>Here you can test remote shutdown.</p>
        <p id="shutdown-result" class="ping-result-style-unknown">Not sent yet..</p>
        <p>
            <button class="btn btn-danger" onclick="Shutdown_WMI();">Use WMI</button>
        </p>
        <p>
            <button class="btn btn-danger" onclick="Shutdown_CMD();">Use CMD</button>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Wake On Lan</h2>
        <p>Here you can test Wake-On-Lan</p>
        <p id="wol-result" class="ping-result-style-unknown">Not sent yet..</p>
        <p>
            <button class="btn btn-success" onclick="Wol_Packet();">Use Packet</button>
        </p>
        <p>
            <button class="btn btn-success" onclick="Wol_Winwake();">Use Winwake.exe</button>
        </p>
    </div>
</div>